﻿
@{
    ViewData["Title"] = "Biography";
}

<h1>Jordan Cavins</h1>

<br>

<p>
    Jordan Cavins is a Computer Science student at East Tennessee State University. He really enjoys computing, and learning new technologies.
    In his spare time he enjoys his hobbies and family. He plans to graduate in December of 2020 and pursue a career in his area of study.
</p>

